body {
  font-family: Arial, sans-serif;
}

input, select {
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #909090;
}

input[type="submit"]{
  cursor: pointer;
  margin-top: 10px;
}
a {
  text-decoration: none;
}
label{
  display: block;
  margin-bottom: 10px;
}